 <div class="container">
  <br>
  <h2>Nuevo bbq</h2>
  <br>
  <p>Ingresa los datos de la barbabacoa que deseas agregar</p>
  <%= simple_form_for [@perfil, @barbacoa] do |f| %>
  <%= f.input :titulo %>
  <%= f.input :modelo %>
  <%= f.input :disponible %>
  <%= f.input :descripcion %>
  <p>Precio por dia</p>
  <%= f.input :precio %>
  <%= f.input :address %>
   <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <br>
  <%= f.submit class: "btn btn-danger" %>
  <% end %>
</div>
