<!DOCTYPE html>
<html>
<head>
  <title>Bbq</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <style>
  .logo img {
    height: 100px;
  }
  .space {
    padding-bottom: 30px;
  }
  a, u {
    text-decoration: none !important;
    color: black;
  }
</style>
</head>
</head>
<body>

  <%= render 'shared/navbar' %>
  <%= yield %>
  <%= javascript_include_tag "application" %>
 <!--  <%= #javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
  <%= #javascript_include_tag('map.js') %>
  <%= #javascript_include_tag :defaults %> -->

</body>
</html>
